* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.settings {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
}

.settings div {
    margin: 0.2rem 0.2rem;
}

.status {
    background-color: rgb(160, 165, 138);
    width: 100%;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem;
}

.gameboard {
    width: min(90vmin, 600px);
    height: min(90vmin, 600px);
    /* aspect-ratio: 1; */
    /* border: 2px solid black; */
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cell {
    /* width: calc(100% / 3);
    height: calc(100% / 3); */
    border: 2px solid black;
    font-size: 18vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

.cell.cross::after {
    content: '\002716';
}

.cell.circle::after {
    content: '\002B58';
}

.cell:nth-child(-n+3) {
    border-top: 0;
}

.cell:nth-child(3n) {
    border-right: 0;
}

.cell:nth-child(3n+1) {
    border-left: 0;
}

.cell:nth-child(n+7) {
    border-bottom: 0;
}